<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
    
  </head>
  <body>
    <%- include ../partials/adminNav.ejs %>
    <%- include ../partials/header.ejs %>
    
    <main>
      <%- include ../partials/projectsCard.ejs %>
    </main>
    
    <%- include ../partials/footer.ejs %>
  </body>
</html>
