<!doctype html>
<html lang="en">

<head>
    <%- include partials/head.ejs %>
        <link rel="stylesheet" href="stylesheets/about.css">
</head>

<body>
    <!-- Navigation -->
    <%- include partials/nav.ejs %>

        <!-- About Me Section -->
        <div class="container">

            <div class="row">

                <div class="col-2 col-sm-2 col-xs-4 p-2">
                    <!-- Sidebar -->
                    <%- include partials/sidebar.ejs %>

                </div>

            </div>
        </div>

        <!-- About Me Section -->
        <div class="container">
            <div class="row aboutSection">

                <div class="col-8 col-md-6 col-sm-8">
                    <!-- About Me Image -->
                    <div class="aboutImg img-responsive">
                        <img src="https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portofolio-v1.0/aboutMeImg.png" alt="">
                    </div>
                </div>

                <div class="col-md-5 col-sm-8">
                    <div class="aboutDetails text-wrap">
                        <h4>More</h4>
                        <h1>About Me</h1>
                    </div>

                    <div class="aboutDetails text-wrap">
                        <ul class="aboutType">
                            <a id="life-btn" href="/about#life">
                                <li>Life</li>
                            </a>
                            <a id="ed-btn" href="/about#education">
                                <li>Education</li>
                            </a>
                            <a id="ex-btn" href="/about#experience">
                                <li>Experience</li>
                            </a>
                        </ul>

                        <!-- Life Section -->
                        <div id="life" class="aboutDetails text-wrap">
                            <p class="sectionDetails">Hello! I'm Trevor, currently specializing in web development in Charlotte, NC.</p>
                        </div>
                        <!-- End Life Section -->

                        <!-- Education Section -->
                        <div id="education" class="aboutDetails text-wrap">
                            <p class="sectionDetails">I am a student at the Univeristy of North Carolina at Charlotte finishing up my degree in Computer Science.</p>
                        </div>
                        <!-- End Education Section -->

                        <!-- Experience Section -->
                        <div id="experience" class="aboutDetails text-wrap">
                            <p class="sectionDetails">I prototype, design and develop websites and web apps that provide minimal, mordern design with powerful backend technologies. </p>
                        </div>
                        <!-- End Experience Section -->
                    </div>
                </div>
            </div>
        </div>


    <%- include partials/footer.ejs %>
    <%- include partials/scripts.ejs %>
    <script src="../javascripts/about.js"></script>
</body>

</html>