<!doctype html>
<html lang="en">

<head>
  <%- include partials/head.ejs %>
  <link rel="stylesheet" href="css/contact.css">

  <title>Home | Trevv's Portfolio v0.2</title>
</head>

<body>
  <!-- Navigation -->
  <%- include partials/nav.ejs %>

  <!-- About Me Section -->
  <div class="container">

    <div class="row">
      <div class="email text-wrap">
        <h1>Email Me</h1>
        <p>Whether for a potential project or just to say hi, contact me here!</p>
        <a href="mailto:trevnjeru@gmail.com" class="btn btn-primary">Email Me</a>
      </div>


    </div>
    <!-- End About Me Section -->


  </div>
  <!-- End Container Fluid -->


  <%- include partials/sidebar.ejs %>



  <%- include partials/footer.ejs %>



  <%- include partials/scripts.ejs %>
</body>

</html>
