<!doctype html>
<html lang="en">
<head>
  <%- include partials/head.ejs %>
  <link rel="stylesheet" href="stylesheets/work.css">
</head>

<body>
  <!-- Navigation -->
  <%- include partials/nav.ejs %>

  <!-- Work Section -->
  <div class="workHeader container">
    <div class="row">
      <h2>Work</h2>
      <!-- 
      <div class="work-cards text-nowrap">
        
        <a href="#" class="btn btn-success">UI Design</a>
        <a href="#" class="btn btn-success">Web Dev</a>
        <a href="#" class="btn btn-success">Work</a>
        <a href="#" class="btn btn-success">Projects</a>
      </div>
      -->

    </div>
    <!-- End Work Header Section -->

    <% Projects.forEach(function (proj) {%>
      <!-- Work Cards -->
      <div class="row p-6 justify-content-center">
        <!-- 
        <div class="back">
          <a href=""><img src="images/Back-Icon.png" alt=""><h5>Web Dev</h5></a>
        </div>
        -->

        <div class="card mb-5 mt-3 d-flex">
          <div class="card-img mb-5">
            <img class="rounded img-fluid" src="<%= proj.proj_img %>" alt="Work Image">
          </div>

          <div class="card-details">
            <h1 class="title"><strong><%= proj.name %></strong></h1>
            <p class="date"><%= new Date(proj.pub_date).toDateString() || null %></p>
            <div class="icons">
              <ul>
                <li><a href="<%= proj.code_link || "#" %>" class="link"><img src="images/Proj-Github-Icon.png" alt="Github"></a></li>
                <li><a href="<%= proj.demo_link || "#" %>" class="link"><img src="images/Proj-Link-Icon.png" alt="Demo"></a></li>
              </ul>
            </div>
            <p class="work-desc">This is a website showing some basic js and design skills.</p>
          </div>

          <h5>Built With</h5>

          <div class="skill-list">
            <div class="skill">
              <h5>HTML</h5>
            </div>
            <div class="skill">
              <h5>CSS</h5>
            </div>
            <div class="skill">
              <h5>JS</h5>
            </div>
          </div>

        </div>
        
      </div>
      <!-- End Work Cards -->
    <% }); %>


  </div>
  <!-- End Container Fluid -->


  <%- include partials/sidebar.ejs %>
  <%- include partials/footer.ejs %>
</body>

</html>
