<!doctype html>
<html lang="en">
<head>
  <%- include partials/head.ejs %>
  <link rel="stylesheet" href="stylesheets/work.css">
</head>

<body>
  <!-- Navigation -->
  <%- include partials/nav.ejs %>

  <!-- Work Section -->
  <div class="workHeader container">
    <div class="row">
      <h2>Work</h2>
      <!-- 
      <div class="work-cards text-nowrap">
        
        <a href="#" class="btn btn-success">UI Design</a>
        <a href="#" class="btn btn-success">Web Dev</a>
        <a href="#" class="btn btn-success">Work</a>
        <a href="#" class="btn btn-success">Projects</a>
      </div>
      -->

    </div>
    <!-- End Work Header Section -->

    <% Projects.forEach(function (proj) {%>
      <!-- Work Cards -->
      <div class="row p-6 justify-content-center">
        <!-- 
        <div class="back">
          <a href=""><img src="https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portofolio-v1.0/Back-Icon.png" alt=""><h5>Web Dev</h5></a>
        </div>
        -->

        <div class="card mb-5 mt-3 d-flex">
          <div class="card-img mb-5">
            <img class="rounded img-fluid" src="<%= proj.proj_img %>" alt="Work Image">
          </div>

          <div class="card-details">
            <h1 class="title"><strong><%= proj.name %></strong></h1>
            <p class="date"><%= new Date(proj.pub_date).toDateString() || null %></p>
            <div class="icons">
              <ul>
                <li><a href="<%= proj.code_link || "#" %>" class="link"><img src="https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portofolio-v1.0/Proj-Github-Icon.png" alt="Github"></a></li>
                <li><a href="<%= proj.demo_link || "#" %>" class="link"><img src="https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portofolio-v1.0/Proj-Link-Icon.png" alt="Demo"></a></li>
              </ul>
            </div>
            <p class="work-desc">This is a website showing some basic js and design skills.</p>
          </div>

          <h5>Built With</h5>

          <%
          function getImgBySkill(sks) {
            let skillImgs = [];
              sks.forEach(function (obj) {
                  switch (obj.skill.toLowerCase()) {
                      case 'html':
                          skName = "https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portfolioimages/html.png";
                          skillImgs.push(skName);
                      break;
                      
                      case 'css':
                          skName = "https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portfolioimages/css.png";
                          skillImgs.push(skName);
                      break;
                      
                      case 'javascript':
                          skName = "https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portfolioimages/js.png";
                          skillImgs.push(skName);
                      break;
                      
                      case 'java':
                          skName = "https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portfolioimages/java.png";
                          skillImgs.push(skName);
                      break;
                      
                      case 'jquery':
                          skName = "https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portfolioimages/jqueryIcon.png";
                          skillImgs.push(skName);
                      break;
                      
                      case 'node js':
                          skName = "https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portfolioimages/node.png";
                          skillImgs.push(skName);
                      break;
                      
                      case 'bootstrap':
                          skName = "https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portfolioimages/bootstrap.png";
                          skillImgs.push(skName);
                      break;
                      
                      case 'mongodb':
                          skName = "https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portfolioimages/mongodb.png";
                          skillImgs.push(skName);
                      break;
                      
                      case 'sql':
                          skName = "https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portfolioimages/sql.png";
                          skillImgs.push(skName);
                      break;
                      
                      
                      default:
                          // code
                      break;
                  }
              });
              return skillImgs;
              console.log("list", skillImgs);
          }
          %>
          <% let skills = new Array(getImgBySkill([...proj.skills_used])) %>
          <% console.log("skills", skills); %>
            <div class="skill-list">
              <% skills.forEach(function (skill) { %>
                <div class="skill">
                  <img src="<%- skill %>">
                </div>
              <%})%>
            </div>
        </div>
        
      </div>
      <!-- End Work Cards -->
    <% }); %>


  </div>
  <!-- End Container Fluid -->


  <%- include partials/sidebar.ejs %>
  <%- include partials/footer.ejs %>
  <%- include partials/scripts.ejs %>
</body>

</html>
